[Desktop Entry]
Encoding=UTF-8
Name=EvoBlu
Comment=EvoBlu P2P Cryptocurrency
Comment[fr]=EvoBlu, monnaie virtuelle cryptographique pair à pair
Comment[tr]=EvoBlu, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/evoblu-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/evoblu;
Categories=Office;
